@charset "UTF-8";

* {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
}

body {
  min-width: 28.75em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Oxygen";
}

.clear-fix::after,
.row::after {
  content: "";
  display: block;
  clear: both;
}

.hidden {
  width: 0;
  height: 0;
  overflow: hidden;
  opacity: 0;
  display: block;
}

.button {
  display: inline-block;
  padding: 0.9em 2.5em;
  background: #58c4c4;
  border-radius: 5px;
  color: white;
  text-decoration: none;
  transition: background 0.2s;
}

.button:hover {
  background: #37a0a0;
}

.top-header {
  text-align: center;
}

.logo {
  margin: 0.5em;
}

.top-nav {
  background: #612674;
  text-align: center;
}

.top-nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.top-nav a {
  color: white;
  text-decoration: none;
  padding: 1em;
  display: block;
}

.top-nav a:hover {
  background: #7c3792;
}

.top-content {
  padding: 1em;
  text-align: center;
  background: #f6f6f6;
}

.top-content h1 {
  color: #612674;
  font-size: 1.375em; /* 22 / 16 */
  margin: 1.375em;
}

.top-content h2 {
  color: #a87bb7;
  font-size: 1em;
  line-height: 1.5;
}

.middle-content {
  padding: 2em;
  background: #f6f6f6;
  text-align: center;
}

.middle-content h3 {
  font-size: 1.25em;
  color: #652e78;
  text-transform: uppercase;
}

.middle-content p {
  line-height: 1.5;
  color: #222;
}

.icon {
  font-size: 2em;
  color: #652e78;
}

.main-content {
  padding: 2em;
}

.main-content article {
  margin-bottom: 3.5em;
}

.main-content p {
  line-height: 1.2;
}

.main-content h3 {
  font-size: 1.25em;
  color: #652e78;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

footer {
  text-align: center;
  background: #25303e;
  color: #83969f;
  padding-bottom: 2em;
}

footer ul {
  background-color: #303d4c;
  list-style: none;
  margin: 0;
  padding: 0.5em;
}

footer li {
  display: inline-block;
  margin: 0.5em;
}

footer li a {
  text-decoration: none;
  color: white;
}

/* Media Queries - 780px*/
@media screen and (min-width: 48.75em) {
  .top-header img {
    float: left;
  }

  .top-nav {
    float: right;
    background: transparent;
    margin-top: 1.75em;
  }

  .top-nav li {
    display: inline-block;
  }

  .top-nav a {
    color: #713a84;
  }

  .top-nav a:hover {
    background: #e7d9fc;
  }

  .top-content {
    background-color: #521a66;
    color: white;
  }

  .top-content h1,
  .top-content h2 {
    color: white;
  }

  .col-1_4 {
    width: 44%;
    margin: 3%;
    float: left;
  }

  .main-content .button {
    float: right;
  }
}

/* Media Queries - 1000px*/

@media screen and (min-width: 62.5em) {
  .top-content {
    background: #521a66 url(images/bg_topo_1198x670.jpg) no-repeat;
    background-position: center top;
    background-size: cover;
    height: 30em;
    padding-top: 15em;
  }
}

/* Media Queries - 1024px*/
@media screen and (min-width: 64em) {
  .top-content {
    background: #521a66 url(images/bg_topo_1600x1374.jpg) no-repeat;
    background-position: center top;
    background-size: cover;
    height: 45em;
    padding: 0 14em;
    padding-top: 30em;
  }

  .col-1_4 {
    width: 21%;
    margin: 2%;
    float: left;
  }

  .col-1_2 {
    width: 44%;
    margin: 3%;
    float: left;
  }

  .main-content .button {
    float: none;
  }
}
